<style>
    body{
        background-image: url('/images/logo_transparent1.png');
        background-size: 70% auto;
        background-position: center bottom 55%;
        background-repeat: no-repeat;
    }
    .input_box{
        border-radius: 20px;
        width: 100%;
        padding: 15px;
        font-weight: bold;
        border: none;
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4);
        transition: box-shadow 0.3s ease;
    }

    .input_box:hover{
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    }

    .heading_admin_login{
        margin-bottom: 40px;
        font-weight: 600;
    }

    .btn_login_admin{
        font-weight: bold;
        color: white;
        background-color: rgb(38, 82, 164);
        transition: background-color 0.3s ease;
    }
    .btn_login_admin:hover{
        background-color: rgb(123, 180, 230);
    }

    @media (max-width: 768px) {
        body {
            background-image: url('/images/logo1.png');
            background-position: center bottom 10%;
        }
    }
</style>

<section style="padding-top:140px">
<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h5 class = "text-center heading_admin_login">CHANGE ADMIN PASSWORD</h5>
            {{#if invalid}}
                <p style="color: red;margin-top: 20px;">Invalid old keys or email. Please try again.</p>
            {{/if}}
            <form action="/superadmin/change_admin_password" method="POST">
                <div class="form-group">
                    <input type="email" class="form-control input_box" required name="Email" placeholder="Enter registered admin email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control input_box" required name="key_1" placeholder="enter old admin first key1">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control input_box" required name="key_2" placeholder="enter old admin second key2">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control input_box" required name="new_key_1" placeholder="enter new admin first key1">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control input_box" required name="new_key_2" placeholder="enter new admin first key2">
                </div>
                <div "form-group">
                    <button type="submit" class="btn  input_box btn_login_admin">Change password</button>
                </div>
            </form>
        </div>
    </div>
</div>
</section>