<section style="padding:20px;padding-top: 130px; text-align: center;">
    <h4 style="color: red;">ADMIN HAS NOT TURNED ON THE PERMISSION FOR POWER TRANSFER</h4>
</section>
<section style="padding:20px;padding-top: 60px; text-align: center;">
    <h4 style="color: red;">PLEASE TRY AGAIN AFTER TURNING ON THE ACCESS BY ADMIN</h4>
</section>
