<!doctype html>
<html lang="en" style="scroll-behavior: smooth;">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <title>Alumni Relations Cell CEC</title>
        <style>
            body {
                background: white;
                font-family: 'Montserrat', sans-serif;
                margin: 0px;
                padding: 0px;
            }
            .chat-icon-top {
                width: 35px;
                height: 35px;
                background-color: #3498db;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-size: 24px;
                cursor: pointer;
            }
            .reply-link {
            cursor: pointer;
            color: white;
            background-color: #2196f3;
            border: 1px solid #ccc;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            width: 60px;
            margin-left: auto;
            padding-top: 3px;
            padding-bottom: 3px;
        }

        .delete-link {
            cursor: pointer;
            color: white;
            background-color: red;
            border: 1px solid #ccc;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            width: 60px;
            margin-left: 10px;
            padding-top: 3px;
            padding-bottom: 3px;
        }
        

            /* Add additional styles for your content */
            .content {
                text-align: center;
            }


          #chat-container {
            max-width: 600px;
            margin: auto;
            padding: 20px;
            border: 1px solid #ccc;
        }
        .message {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ddd;
            background-color: #f9f9f9;
        }
        .reply {
            background-color: #e0f7fa;
            padding: 5px;
            margin-left: 20px;
        }
        .custom-form-container {
            max-width: 2000px;
            margin: auto;
        }
        .form-top{
            margin-top: 30px;
        }
        .form-bottom{
            margin-bottom: 30px;
        }

        
        #chat-container {
            max-width: 1000px;
            margin: auto;
            padding: 20px;
            border: 1px solid #ccc;
        }
        .message {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            padding: 10px;
            border: 2px solid #5e92f3;
            background-color: #f9f9f9;
            max-width: 900px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .user-circle {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 10px;
        }
        .user-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .reply {
            background-color: #e0f7fa;
            padding: 5px;
            margin-left: 20px;
            font-size: 0.9em;
            border-radius: 5px;
            flex-grow: 1;
        }
        .actual-message {
            margin-left: 20px;
        }

        #message-input {
            width: 80%;
            min-height: 60px;
            height: auto;
            resize: vertical;
            border: 2px solid #5e92f3;
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 10px;
            font-size: 16px;
        }
        #chat-form {
            display: flex;
            align-items: center;
        }
        #send-icon {
            font-size: 24px;
            cursor: pointer;
            margin-left: 10px;
            color: #2196f3;
        }
        #send-button {
            font-size: 16px;
            cursor: pointer;
            margin-left: 10px;
            background-color: #2196f3;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 8px 12px;
        }
        .plus-button {
            border-radius: 10px; /* Rounded corners */
            font-size: 16px; /* Font size */
            font-weight: bold;

        }
    
        .interest-input,.hobby-input,.language-input {
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .drop_dop{
            transition: transform 0.3s ease-in-out;
        }
        .drop_dop:hover {
            transform: scale(1.2);
        }

        .remove-button {
            background-color: red;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }
        .button_plus {
            font-size: 20px;
            font-weight: bolder;
            color: rgb(38, 82, 164);
            width: 35px;
            height: 35px;
            background: #fff;
            cursor: pointer;
            border: 2px solid rgb(38, 82, 164);
            padding: 3px;
        }

            .button_plus:hover {
            background-color: rgb(38, 82, 164);
            transition: 0.2s;
            color: white;
            }

        #uploadForm {
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;

        }



        .custom-file-upload {
            border: 1px solid #ccc;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
            border-radius: 4px;
            margin-top: 10px;
        }

        .custom-file-upload i {
            margin-right: 5px;
        }
        .post-container {
            width: 100%;
            background-color: #fff;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .location-post {
            padding: 10px;
            font-size: 14px;
            font-weight: bold;
            color: #333;
        }

        .image-container-post {
            width: 100%;
            overflow: hidden;
        }

        .image-container-post img {
            width: 100%;
            display: block;
        }

        .caption-post {
            padding: 10px;
            font-size: 14px;
            color: #333;
        }


        </style>

  </head>
  <body>
    {{#if admin}}
      {{>admin-header}}
    {{else}}
      {{>user-header}}
    {{/if}}
    {{{body}}}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    
  </body>
</html>