<style>

  body{
    background-image: url('/images/logo_transparent1.png');
    background-size: 70% auto;
    background-position: center bottom 55%;
    background-repeat: no-repeat;
  }
  @media (max-width: 768px) {
    body {
      background-image: url('/images/logo1.png');
      background-position: center bottom 40%;
    }
  }
  .admin-section {
    margin-bottom: 10px;
    background-color: rgb(38, 82, 164);
    border-radius: 10px;
    border: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  .admin-section:hover{
    background-color: rgb(123, 180, 230);
  }

  .admin_button{
    color: rgb(38, 82, 164);
    font-weight: bold;
    margin-right: 20px;
  }

  .admin_title{
    color: white;
    font-weight: 600;
    margin-left: 20px;
    margin-bottom: 0px;
  }

  @media (max-width: 620px) {
    .admin_title{
      font-size: 15px;
    }
    .admin_title{
      margin-left: 10px;
      margin-bottom: 2px;
    }
    .admin_button{
      margin-right: 0px;
    }
  }
  @media (max-width: 490px) {
    .inside_div_view_page{
      padding: 8px;
    }
    .admin_button{
      padding: 7px;
      margin-right: 0px;
    }
    .admin_title{
      margin-left: 10px;
      margin-bottom: 2px;
    }
  }
  @media (max-width: 400px) {
    .inside_div_view_page{
      padding: 5px;
      padding-left: 4px;
    }
    .admin_title{
      font-size: 14px;
    }
    .admin_button{
      padding: 4px;
      font-size: 14px;
      margin-right: 0px;
    }
    .admin_title{
      margin-left: 10px;
      margin-bottom: 2px;
    }
  }
  
</style>

<section style="padding-top:140px">
<div class="card text-center admin-section">
  <div class="card-body d-flex justify-content-between align-items-center inside_div_view_page">
    <h5 class="card-title admin_title text-left">Edit main page content</h5>
    <a href="#" class="btn admin_button btn-light">select</a>
  </div>
</div>

<div class="card text-center admin-section">
  <div class="card-body d-flex justify-content-between align-items-center inside_div_view_page">
    <h5 class="card-title admin_title text-left">Search alumni</h5>
    <a href="/admin/search_alumni_admin" class="btn admin_button btn-light">select</a>
  </div>
</div>

<div class="card text-center admin-section">
  <div class="card-body d-flex justify-content-between align-items-center inside_div_view_page">
    <h5 class="card-title admin_title text-left">Search student</h5>
    <a href="/admin/search_student_admin" class="btn admin_button btn-light">select</a>
  </div>
</div>

<div class="card text-center admin-section">
  <div class="card-body d-flex justify-content-between align-items-center inside_div_view_page">
    <h5 class="card-title admin_title text-left">Remove Student / Alumni</h5>
    <a href="/admin/search_removal_candidate" class="btn admin_button btn-light">select</a>
  </div>
</div>

<div class="card text-center admin-section">
  <div class="card-body d-flex justify-content-between align-items-center inside_div_view_page">
    <h5 class="card-title admin_title text-left">Alumni owned companies</h5>
    <a href="/admin/search_company_owned_alumni" class="btn admin_button btn-light">select</a>
  </div>
</div>

<div class="card text-center admin-section">
  <div class="card-body d-flex justify-content-between align-items-center inside_div_view_page">
    <h5 class="card-title admin_title text-left">Find working alumni in company</h5>
    <a href="/admin/search_working_alumni_in_company" class="btn admin_button btn-light">select</a>
  </div>
</div>

<div class="card text-center admin-section">
  <div class="card-body d-flex justify-content-between align-items-center inside_div_view_page">
    <h5 class="card-title admin_title text-left">Other functionalities</h5>
    <a href="/admin/admin_other_functionalities" class="btn admin_button btn-light">select</a>
  </div>
</div>

<div class="card text-center admin-section">
  <div class="card-body d-flex justify-content-between align-items-center inside_div_view_page">
    <h5 class="card-title admin_title text-left">View message enquiries</h5>
    <a href="/admin/admin_message_enquiries" class="btn admin_button btn-light">select</a>
  </div>
</div>
</section>