<style>
    body{
        background-image: url('/images/logo_transparent1.png');
        background-size: 70% auto;
        background-position: center bottom 55%;
        background-repeat: no-repeat;
        background-color: aliceblue;
        background-attachment: fixed;
    }
    @media (max-width: 768px) {
        body {
            background-image: url('/images/logo1.png');
            background-position: center bottom 40%;
        }
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .input_box{
        border-radius: 20px;
        width: 100%;
        padding: 15px;
        font-weight: bold;
        border: none;
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4);
        transition: box-shadow 0.3s ease;
    }

    .input_box:hover{
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    }

    .prof_lab{
        margin-top: 15px;
        font-size: 18px;
        margin-bottom: 0px;
        font-weight: bold;
    }

    .head_header_edit{
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 40px;
    }

     .btn_edit_status{
        width: 250px;
        background-color: rgb(38, 82, 164);
        color: white;
        font-weight: 700;
        border-radius: 10px;
        padding: 10px;
        transition: background-color 0.3s ease;
        margin-left: 5px;
    }
    .btn_edit_status:hover{
        background-color:  rgb(123, 180, 230);
        color: rgb(38, 82, 164);
    }


    @media (max-width: 1200px) {
        .btn_edit_status{
        width: 100px;
    }
    }
</style>

<section style="padding-top:140px">
<section>
    <div class="row">
        <div class="col-md-6 m-auto">
             <div class="container mt-5 pl-5">
                <h2 class="text-center head_header_edit">UPDATE CURRENT STATUS</h2>
                <form action="/admin/edit_status_user_admin/{{profile._id}}" method="POST" enctype="multipart/form-data">
                    <select style="height: 55px;" name="Status" class="form-control input_box">
                        <option value="Alumni" {{#if (eq status "Alumni")}}selected{{/if}}>Alumni</option>
                        <option value="Student" {{#if (eq status "Student")}}selected{{/if}}>Student</option>
                    </select>
                    <input type="hidden" name="Name" value="{{profile.Name}}">
                    <div class="button-container">
                        <button type="submit" class="btn btn_edit_status  mt-4">Submit</button>
                        <button type="reset" class="btn btn_edit_status  mt-4">Reset</button>
                        <a href="/admin/edit_status_user" class="btn btn_edit_status mt-4">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</section>
