<style>
    .Admin_tag_here{
        margin-top: 100px;
        color:rgb(93, 138, 222);
    }
    .button_admin_here{
        margin-top: 100px;
        background-color: rgb(93, 138, 222);
        color: white;
        font-weight: bold;
        padding: 10px;
    }
</style>

<div>
    <h5 class="text-center Admin_tag_here" >WELCOME ADMIN</h5>
    <a href="/admin/admin-view-page">
        <button type="button" class="btn button_admin_here text-center btn-block" >LOGIN REQUIRED</button>
    </a>
</div>