<section style="padding:20px;padding-top: 130px; text-align: center;">
    <h4 style="color: red;">SENDER OR RECIEVER HAS NOT TURNED ON THE PERMISSION FOR VIEWING DELETED MESSAGES</h4>
</section>
<section style="padding:20px;padding-top: 60px; text-align: center;">
    <h4 style="color: red;">PLEASE TRY AGAIN AFTER REQUESTING THE SENDER OR RECIEVER TO TURN ON THE ACCESS</h4>
</section>
