<style>
body{
        background-image: url('/images/logo_transparent1.png');
        background-size: 70% auto;
        background-position: center bottom 55%;
        background-repeat: no-repeat;
        background-color: rgb(243, 245, 247);
        background-attachment: fixed;
    }
    @media (max-width: 768px) {
        body {
            background-image: url('/images/logo1.png');
            background-position: center bottom 40%;
        }
    }

    .input_box{
        border-radius: 5px;
        width: 100%;
        padding: 15px;
        font-weight: bold;
        border: none;
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4);
        transition: box-shadow 0.3s ease;
    }
    .input_box_custom{
        border-radius: 5px 0px 0px 5px;
        width: 100%;
        padding: 15px;
        font-weight: bold;
        border: none;
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4);
        transition: box-shadow 0.3s ease;
    }

    .input_box:hover{
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    }
    .input_box_custom:hover{
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 40px;
    }

    #custom_delete_intern_interest,#custom_delete_intern_hobby,#custom_delete_intern_language{
        padding: 14px;
        border-radius: 0px 5px 5px 0px;
        background-color: rgba(209, 13, 13, 0.925);
        font-weight: 600;
        color: white;
        transition: background-color 0.3s ease;
    }
    #custom_delete_intern_interest:hover{
        background-color: rgba(255, 0, 0, 0.925);
    }
    #custom_delete_intern_hobby:hover{
        background-color: rgba(255, 0, 0, 0.925);
    }
    #custom_delete_intern_language:hover{
        background-color: rgba(255, 0, 0, 0.925);
    }

    .apply_intern_heading{
        font-weight: 600;
        margin-bottom: 50px;
    }

    .label_in_add_intern{
        font-weight: 700;
        font-size: 15px;
    }

    .custom_add_buttons_addition{
        background-color: rgb(38, 82, 164);
        border-radius: 5px;
        color: white;
        font-weight: bold;
        width: 140px;
        transition:  color 0.3s ease;
        transition: background-color  0.3s ease;
    }
    .custom_add_buttons_addition:hover{
        background-color:rgb(123, 180, 230);
        color: rgb(38, 82, 164);
    }

    .btn_custom_add_internship{
        width: 230px;
        background-color: rgb(38, 82, 164);
        color: white;
        font-weight: bold;
        border-radius: 8px;
        padding: 10px;
        transition:  color 0.3s ease;
        transition: background-color  0.3s ease;
    }
    .btn_custom_add_internship:hover{
        background-color:rgb(123, 180, 230);
        color: rgb(38, 82, 164);
    }

    @media (max-width: 500px) {
       .label_in_add_intern{
        font-weight: 700;
        font-size: 15px;
    }
     .input_box,.input_box_custom{
        padding: 12px;
        font-weight: bold;
        font-size: 14px;
    }
    #custom_delete_intern_interest,#custom_delete_intern_hobby,#custom_delete_intern_language{
        padding: 10.5px;
        font-size: 14px;
        padding-left: 7px;
        padding-right: 7px;
    }
    .apply_intern_heading{
        font-weight: 600;
        font-size: 20px;
    }
    .custom_add_buttons_addition{
        font-weight: bold;
        width: 140px;
        padding: 8px;
        font-size: 14px;
    }

    .btn_custom_add_internship{
        width: 230px;
        font-weight: bold;
        padding: 8px;
        font-size: 14px;
    }
    }

</style>

<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
                <h2 class="text-center apply_intern_heading">APPLY FOR INTERNSHIP / JOB</h2>
                <form action="/addintern/{{user._id}}" method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <input type="text" class="form-control input_box" name="firstName" placeholder="Enter your first name" required>
                    </div><br>

                    <div class="form-group">
                        <input type="text" class="form-control input_box" name="lastName" placeholder="Enter your last name" required>
                    </div><br>

                    <select style="height: 55px; margin-bottom:20px;" name="gender" class="form-control input_box">
                        <option disabled>select gender</option>
                        <option value="Male" {{#if (eq user.Gender "Male")}}selected{{/if}}>Male</option>
                        <option value="Female" {{#if (eq user.Gender "Female")}}selected{{/if}}>Female</option>
                        <option value="Custom" {{#if (eq user.Gender "Custom")}}selected{{/if}}>Custom</option>
                    </select><br>

                    <div class="form-group">
                        <label class="label_in_add_intern">Add profile picture</label><br>
                        <img src="/user-images/{{user._id}}.jpg" alt="" style="width:100px;" id="userView">
                        <input style="margin-top: 10px;" type="file" name="ProfilePicture" class="form-control input_box" onchange="viewpImage(event)" required>
                    </div><br>

                    <div class="form-group">
                        <input type="email" name="Email" class="form-control input_box" placeholder="Enter a valid email"  required>
                    </div><br>

                    <div class="form-group">
                        <label class="label_in_add_intern">Seeking an internship/job opportunity in the field of</label>
                        <input type="text" name="Interest" class="form-control input_box" placeholder="eg: web developer, data scientist, machine learning...." required>
                    </div><br>

                    <div class="form-group form-bottom">
                        <label class="label_in_add_intern">Currently looking for</label>
                        <select style="height: 55px;"  class="form-control input_box" name="jobintern">
                            <option value="" disabled selected>Select what you are opting for</option>
                            <option value="internship">Internship</option>
                            <option value="job">Job</option>
                        </select>
                    </div>
 

                    <div class="form-group" style="margin-top: 40px;">
                        <input  class="form-control input_box" name="LocationCurrent" placeholder="Enter current location" rows="4" >
                    </div><br>

                    <div class="form-group form-bottom">
                        <label class="label_in_add_intern">Work mode</label>
                        <select style="height: 55px;" class="form-control input_box" name="workmode">
                            <option value="" disabled selected>Select work mode</option>
                            <option value="inoffice">in office</option>
                            <option value="workhome">work from home</option>
                        </select>
                    </div><br>

                    <div class="form-group">
                        <label class="label_in_add_intern">Languages you know</label><br>
                        <div id="language-container">
                            <div class="language-input">
                                <input type="text" class="form-control input_box_custom" name="language" placeholder="Enter a language you know" required>
                                <button id="custom_delete_intern_language"  class="btn " type="button" class="remove-button" onclick="removeLanguage(this)">Remove</button>
                            </div>
                        </div>
                        <button class="btn custom_add_buttons_addition"  type="button" onclick="addLanguage()">Add language</button>
                    </div><br>


                    <div class="form-group">
                        <label class="label_in_add_intern">Areas of interest</label><br>
                        <div id="interest-container">
                            <div class="interest-input">
                                <input type="text" class="form-control input_box_custom" name="interestarea" placeholder="Enter your area of interests" required>
                                <button id="custom_delete_intern_interest" class="btn " type="button" class="remove-button" onclick="removeInterest(this)">Remove</button>
                            </div>
                        </div>
                        <button class="btn custom_add_buttons_addition"  type="button" onclick="addInterest()">Add interest</button>
                    </div><br>

                    <div class="form-group">
                    <label class="label_in_add_intern">Hobbies</label><br>
                        <div id="hobbies-container">
                            <div class="hobby-input">
                                <input type="text" class="form-control input_box_custom" name="hobbies" placeholder="Enter your Hobby" required>
                                <button id="custom_delete_intern_hobby" class="btn " type="button" class="remove-button" onclick="removeHobby(this)">Remove</button>
                            </div>
                        </div>
                        <button class="btn custom_add_buttons_addition"  type="button" onclick="addHobby()">Add Hobby</button>
                        </div><br>

                    <div class="form-group">
                        <label class="label_in_add_intern">Upload your resume</label><br>
                        <p style="color: rgb(0, 0, 0);font-weight:bold;font-size:small">only pdf and document format accepted and file size shouldnot exceed 5 MB</p>
                        <input type="file" name="resume" class="form-control input_box" required accept=".pdf, .doc, .docx" id="resumeInput" id="resumeInput" onchange="validateFileSize()">
                    </div>

                    <div class="form-group" style="display: none;">
                        <input class="form-control" name="UserId" value="{{user._id}}">
                    </div>

                    <div class="form-group" style="display: none;">
                        <input class="form-control" name="Name" value="{{user.Name}}">
                    </div>

                    <div class="button-container">
                        <button type="submit" class="btn btn_custom_add_internship mt-4">Submit</button>
                        <button type="reset" style="margin-left: 5px;" class="btn btn_custom_add_internship mt-4">Reset</button>
                        <a href="/profile" style="margin-left: 5px;" class="btn btn_custom_add_internship mt-4">Cancel</a>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <script>
    function viewpImage(event){
        document.getElementById('userView').src = URL.createObjectURL(event.target.files[0])
    }

    function validateFileSize() {
        var fileInput = document.getElementById('resumeInput');
        if (fileInput.files.length > 0) {
            var fileSize = fileInput.files[0].size; // in bytes
            var maxSize = 5 * 1024 * 1024; // 5MB in bytes

            if (fileSize > maxSize) {
                alert('File size exceeds the limit of 5MB. Please choose a smaller file.');
                fileInput.value = ''; // Clear the selected file
            }
        }
    }

    function addHobby() {
        var container = document.getElementById('hobbies-container');
        var newInput = document.createElement('div');
        newInput.className = 'hobby-input';
        newInput.innerHTML = '<input type="text" class="form-control input_box_custom" name="hobbies" placeholder="Enter your Hobby" required>' +
                             '<button id="custom_delete_intern_hobby" class="btn btn-danger" type="button" onclick="removeHobby(this)">Remove</button>';
        container.appendChild(newInput);
    }

    function removeHobby(button) {
        var container = document.getElementById('hobbies-container');
        if (container.childElementCount > 1) {
            container.removeChild(button.parentNode);
        }
    }

    function addInterest() {
        var container = document.getElementById('interest-container');
        var newInput = document.createElement('div');
        newInput.className = 'interest-input';
        newInput.innerHTML = '<input type="text" class="form-control input_box_custom" name="interestarea" placeholder="Enter your area of interests" required>' +
                             '<button id="custom_delete_intern_interest" class="btn btn-danger" type="button" onclick="removeInterest(this)">Remove</button>';
        container.appendChild(newInput);
    }

    function removeInterest(button) {
        var container = document.getElementById('interest-container');
        if (container.childElementCount > 1) {
            container.removeChild(button.parentNode);
        }
    }

    function addLanguage() {
        var container = document.getElementById('language-container');
        var newInput = document.createElement('div');
        newInput.className = 'language-input';
        newInput.innerHTML = '<input type="text" class="form-control input_box_custom" name="language" placeholder="Enter a language you know" required>' +
                             '<button id="custom_delete_intern_language" class="btn btn-danger" type="button" onclick="removeLanguage(this)">Remove</button>';
        container.appendChild(newInput);
    }

    function removeLanguage(button) {
        var container = document.getElementById('language-container');
        if (container.childElementCount > 1) {
            container.removeChild(button.parentNode);
        }
    }

</script>