<style>
body{
        background-image: url('/images/logo_transparent1.png');
        background-size: 70% auto;
        background-position: center bottom 55%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .input_box{
        border-radius: 20px;
        width: 100%;
        padding: 15px;
        font-weight: bold;
        margin-bottom: 25px;
        border: none;
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4);
        transition: box-shadow 0.3s ease;
    }

    .input_box:hover{
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    }

    @media (max-width: 768px) {
        body {
            background-image: url('/images/logo1.png');
            background-position: center bottom 40%;
        }

    }

    .button-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
    }

    .btn{
        width: 250px;
        background-color: rgb(38, 82, 164);
        color: white;
        font-weight: 700;
        border-radius: 10px;
        padding: 10px;
        transition: background-color 0.3s ease;
    }
    .btn:hover{
        background-color:  rgb(123, 180, 230);
        color: rgb(38, 82, 164);
    }

    @media (max-width: 1200px) {
        .btn{
        width: 100px;
    }
    }

    .header_head_add_job{
        font-weight: 600;
        margin-bottom: 30px;
    }
</style>

<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
                <h2 class="text-center header_head_add_job">ADD A NEW JOB</h2>
                <form action="/addjob/{{user._id}}" method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <input type="text" class="form-control input_box" name="CompanyName" placeholder="Enter the company name" required>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control input_box" name="CompanyDescription" oninput="resizeTextarea(this)" placeholder="Enter company description" rows="4" ></textarea>
                    </div>


                    <div class="form-group">
                        <input type="text" name="Jobrole" class="form-control input_box" placeholder="Enter the job role" required>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control input_box" name="Eligibility" oninput="resizeTextarea(this)" placeholder="Enter eligibility for the job" rows="4" required></textarea>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control input_box" name="jobDescription" oninput="resizeTextarea(this)" placeholder="Enter Description about the job" rows="4" ></textarea>
                    </div>

                    <div class="form-group">
                        <label style="font-weight: bold;display:block" >Add image if any</label>
                        <img style="width:120px;margin-bottom: 10px;" alt="" style="width:100px;" id="userView">
                        <input type="file" name="JobImage" class="form-control input_box" placeholder="Add image if any" onchange="viewpImage(event)">
                    </div>

                    <div class="form-group">
                        <input  name="JobLink" class="form-control input_box" placeholder="Paste any direct link to apply if any">
                    </div>

                    <div class="form-group" style="display: none;">
                        <input class="form-control" name="UserId" value="{{user._id}}">
                    </div>

                    <div class="form-group" style="display: none;">
                        <input class="form-control" name="Name" value="{{user.Name}}">
                    </div>

                    <div class="form-group" style="display: none;">
                        <input class="form-control" name="Branch" value="{{user.Branch}}">
                    </div>

                    <div class="form-group" style="display: none;">
                        <input class="form-control" name="PostedBy" value="user">
                    </div>

                <div class="button-container">
                    <button type="submit" class="btn  mt-4">Submit</button>
                    <button type="reset" class="btn  mt-4">Reset</button>
                    <a href="/profile" class="btn  mt-4">Cancel</a>
                </div>

                </form>
            </div>
        </div>
    </div>
<script>
    function viewpImage(event){
        document.getElementById('userView').src = URL.createObjectURL(event.target.files[0])
    }
</script>
<script>
        function resizeTextarea(textarea) {
            textarea.style.height = "auto";
            textarea.style.height = (textarea.scrollHeight) + "px";
        }
    </script>