<style>
     body{
        background-image: url('/images/logo_transparent1.png');
        background-size: 70% auto;
        background-position: center bottom 55%;
        background-repeat: no-repeat;
        background-color: rgb(242, 245, 248);
        background-attachment: fixed;
    }
    @media (max-width: 768px) {
        body {
            background-image: url('/images/logo1.png');
            background-position: center bottom 40%;
        }
    }

    .input_box{
        border-radius: 20px;
        width: 100%;
        padding: 15px;
        font-weight: bold;
        border: none;
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4);
        transition: box-shadow 0.3s ease;
    }

    .input_box:hover{
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    }

    .prof_lab_edit_skl{
        margin-top: 0px;
        font-size: 15px;
        margin-bottom: 6px;
        font-weight: bold;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 50px;
        margin-top: 0px;
    }

    .skills_title_head{
        font-weight: 600;
    }

    .custom_edit_skl_delete{
        background-color: rgb(184, 8, 8);
        color: white;
        font-weight: bold;
        border-radius: 0px 20px 20px 0px;
        transition: background-color 0.3s ease;
    }
    custom_edit_skl_delete:hover{
        background-color: rgb(255, 0, 0);
    }

    .btn_custom_submit_edit_skill,.btn_custom_cancel_edit_skill{
        background-color: rgb(38, 82, 164);
        width: 300px;
        padding: 15px;
        color: white;
        font-weight: bold;
        transition: -color 0.3s ease;
        transition: background-color 0.3s ease;
        border-radius: 16px;
    }

    .btn_custom_submit_edit_skill:hover,.btn_custom_cancel_edit_skill:hover{
        background-color: rgb(123, 180, 230);
        color: rgb(38, 82, 164);
    }

    @media (max-width: 1410px) {
        .btn_custom_submit_edit_skill,.btn_custom_cancel_edit_skill{
        width: 200px;
        padding: 15px;
    }
    }
    @media (max-width: 1000px) {
        .btn_custom_submit_edit_skill,.btn_custom_cancel_edit_skill{
        width: 150px;
        padding: 12px;
    }
    }
    @media (max-width: 520px) {
    .skills_title_head{
        font-weight: 600;
        font-size:25px;
    }
    }
    @media (max-width: 430px) {
        .btn_custom_submit_edit_skill,.btn_custom_cancel_edit_skill{
        width: 120px;
        padding: 10px;
    }
    .skills_title_head{
        font-weight: 600;
        font-size:21px;
    }
    }

</style>

<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center skills_title_head">EDIT SKILLS / EDIT WORKING DOMAINS</h2>
            <form action="/edit-skills/{{user._id}}" method="POST" enctype="multipart/form-data">
            <!-- Work Domains -->
                <div class="form-group form-top">
                    <label class="prof_lab_edit_skl" for="workDomains">Work Domains</label>
                    <div id="workingDomainsContainer">
                        {{#each user.workDomains}}
                            <div class="input-group mb-2">
                                <input type="text" class="form-control input_box" name="workDomains" placeholder="Work Domain" value="{{this}}">
                                <div class="input-group-append">
                                    <button type="button" class="btn custom_edit_skl_delete" onclick="removeWorkingDomain(this)">Delete</button>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            <div class="button-container">
                <button type="submit" class="btn btn_custom_submit_edit_skill mt-4">Submit</button>
                <a href="/profile" class="btn btn_custom_cancel_edit_skill mt-4">Cancel</a>
            </div>
        </form>
        </div>
    </div>
</div>

<script>

    function removeWorkingDomain(button) {
        const workingDomainField = button.closest('.input-group');
        workingDomainField.remove();
    }
</script>