<style>
    body{
        margin-top: 180px;
        background-image: url('/images/logo_transparent1.png');
        background-size: 70% auto;
        background-position: center bottom 55%;
        background-repeat: no-repeat;
    }
    .input_box{
        border-radius: 20px;
        width: 100%;
        padding: 15px;
        font-weight: bold;
        border: none;
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4);
        transition: box-shadow 0.3s ease;
    }

    .input_box:hover{
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    }

    @media (max-width: 768px) {
        body {
            background-image: url('/images/logo1.png');
            background-position: center bottom 40%;
        }
        .recover{
            font-size: 14px;;
        }
    }

    .btn_login{
        background-color: rgb(38, 82, 164);
        transition: background-color 0.3s ease;
    }
    
    .btn_login:hover{
        background-color: rgb(123, 180, 230);
    }

    .btn_signup{
        /*background-color: rgba(142, 116, 57, 0.871);*/
        background-color:rgb(123, 180, 230);
        transition: background-color 0.3s ease;
    }
    .btn_signup:hover{
        background-color: rgb(38, 82, 164);
    }
</style>

<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <form action="/login" method="POST">
            {{#if LoginERROR}}
                <p class="error" style="color: red;">{{LoginERROR}}</p>
            {{/if}}
                <div class="form-group">
                    <input class="input_box" type="email" class="form-control" name="Email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input class="input_box" type="password" class="form-control" name="Password" placeholder="Password">
                </div>
                <div>
                    <button type="submit" style="margin-top:10px;margin-bottom:10px;color:white" class="btn input_box btn_login float-right">Login</button>
                    <a href="/signup" class="btn  input_box btn_signup" style="color: rgb(255, 255, 255);margin-top:10px;margin-bottom:10px;">Create new accont</a>
                </div>
                <div style="margin-top:20px;margin-bottom:10px;" class="form-group">
                    <a href="/recoverpass"  class="recover" style="color: rgb(49, 86, 179);width:100%;">Click here if you want to recover your account using older password</a>
                </div>
                
            </form>
        </div>
    </div>
</div>