<style>
    /* Background styling */
    body {
        margin: 0;
        padding: 0;
        background-image: url('/images/logo_transparent1.png');
        background-size: 80% auto;
        height: 70.3vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-position: center bottom 60%;
        background-attachment: fixed;
    }

    @media (max-width: 768px) {
        body {
            background-image: url('/images/logo1.png');
            background-position: center bottom 40%;
        }
    }

    .background-blur {
        filter: blur(5px);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.77; /* Dim the background */
        background-color: rgba(0, 0, 0, 0.9); /* Darker background color for dimming */
    }

    .popup-container {
        position: relative;
        z-index: 1;
        text-align: center;
    }

    .popup {
        background-color: rgba(255, 255, 255, 0.9); /* Lighter background color with transparency */
        color: #000; /* Text color */
        padding: 20px;
        border-radius: 10px;
        width: 80%;
        margin: 0 auto;
    }

    .info_car{
        font-size: 16px;
        font-weight: 600;
    }

</style>

<div class="background-blur"></div>
<div class="popup-container">
    <div class="popup">
        {{#if iBlocked}}
            <p class="info_car">You cannot send message because you blocked this account.</p>
        {{/if}}
        {{#if iWasBlocked}}
            <p class="info_car">You cannot send message because you were blocked by this account.</p>
        {{/if}}
    </div>
</div>
