<style>
    body{
        background-image: url('/images/logo_transparent1.png');
        background-size: 70% auto;
        background-position: center bottom 55%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .common_feature{
        background-color: rgb(199, 205, 207);
        border-radius: 6px;
        margin-top: 15px;
        margin-bottom: 25px;
        padding: 25px;
        padding-left: 25px;
        padding-bottom: 10px;
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4);
        transition: box-shadow 0.3s ease;
    }
    .common_feature:hover{
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    }
    .all_a_here{
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    .all_a_here:hover{
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

    .btn_confirm_pass_updation{
        background-color: rgb(93, 138, 222);
        color: white;
        padding: 5px;
        font-size: 15px;
        border-radius: 8px;
        transition: background-color 0.3s ease;
        text-decoration: none;
        font-weight: bold;
        padding-left: 10px;
        padding-right: 10px;
    }
    .btn_confirm_pass_updation:hover{
        background-color: rgb(46, 98, 194);
        color: white;
        text-decoration: none;
    }

    .container{
        padding-top: 200px;
    }

    .contact_admin{
        width: 100%;
        background-color: rgb(46, 98, 194);
        padding: 15px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 8px;
        color: white;
        font-weight: bold;
        text-decoration: none;
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4);
        transition: background-color 0.3s ease;
    }
    .contact_admin:hover{
        background-color: rgb(7, 56, 148);
        color: white;
        text-decoration: none;
    }

     @media (max-width: 768px) {
        body {
            background-image: url('/images/logo1.png');
            background-position: center bottom 40%;
        }
        .container{
            padding-top: 170px;
        }
    }
     @media (max-width: 575px) {
       .all_p_here{
        font-size: 14px;
       }
    }
</style>

<section class="container" >
    <div style="width: 100%;" >
        <p class="all_p_here" style="font-weight: 550;word-spacing:4px;margin-bottom:40px;">
            This notification appeared because your password has been updated either by you or by admin.
            Admin can only do this after your request. If this appeared without your request, then admin might 
            have changed your password without your authorization or someone else had accessed your account through 
            malpractices. If admin changed your password without your authoriation, then you can raise a question to admin.
            
        </p>

        <a style="margin-bottom: 20px;display:block;" href="/updatepass" class="contact_admin">Change password</a>
        <a style="display:block;" href="/ask_admin" class="contact_admin">Raise admin a question</a>
        

        <a href="/one_on_admin_chat/{{adminID}}"><p class="all_p_here" style="font-weight: 550;word-spacing:4px;margin-top:40px;">You can also engage in direct chat with admin</p></a>
        <p class="all_p_here" style="font-weight: 550;word-spacing:4px;margin-top:40px;">In case if you don't get any reply, you may directly contact college authorities.
            You can find the contact number from contact section of <a href="/">main page</a>.
        </p>
    </div>
</section>
